<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/templates/home.html</title>
</head>
<body>
	<div class="container">
		<div sec:authorize="isAuthenticated()">
			<strong sec:authentication="name"></strong> 님 로그인중
			<br>
			<!-- <strong>[[${#authentication.principal.username}]]</strong> 님 로그인중
			<br> -->
			<a th:href="@{/user/logout}">로그아웃</a>
		</div>
		<div sec:authorize="!isAuthenticated()">
			로그인중이 아님
			<a th:href="@{/user/loginform}">로그인 하러가기</a>
			<a th:href="@{/user/signup-form}">회원가입</a>
		</div>
		<h1>인덱스 페이지 입니다</h1>
		
		<h2>공지사항</h2>
		<ul>
			<li th:each="tmp : ${noticeList}" th:text="${tmp}"></li> 
		</ul>
		
	</div>
</body>
</html>