<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/home.html</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>
	<div class="container">
		<h1>인덱스 페이지 입니다</h1>
		<p>
			오늘의 인물: <strong>[[${personToday}]]</strong>
			<br />
			오늘의 인물: <strong th:text="${personToday}"></strong>
			<br />
			<img src="/spring04/images/1.jpg" alt="최유진 얼굴" />
			<br />
			<img th:src="@{/images/1.jpg}" alt="최유진 얼굴" />
			<!-- @{} 은 타임리프에서 요청 경로를 해석한다.-->
			<!--/* Thymeleaf 가 무시하는 주석 */-->
		</p>
		<ul>
			<li><a th:href="@{/notice}">공지사항</a></li>
			<li><a th:href="@{/member}">회원 한 명의 정보</a></li>
			<li><a th:href="@{/member/list}">회원 목록</a></li>
			<li><a th:href="@{/sequence}">시퀀스 활용</a></li>
			<li><a th:href="@{/buy?id=99&category=foods}">99번 음식 주문하기</a></li>
			<li><a th:href="@{'/buy?id=' + ${id} + '&category=' + ${category} }">99번 음식 주문하기2</a></li>
			<li><a th:href="@{/buy(id=${id}, category=${category})}">99번 음식 주문하기3</a></li>
			<li><a th:href="@{/if}">조건부 렌더링</a></li>
			<li><a th:href="@{/javascript}">javascript 관련 기능</a></li>
			<li><a th:href="@{/include}">include 테스트</a></li>
		</ul>
	</div>
</body>
</html>